.container {
  width: 100%;
  max-width: 1360px;
  margin: auto;
}
.contactSection {
  background: #bdffde;
  margin-top: 73px;
  padding-bottom: 50px;
}

.contactSection h2 {
  padding-top: 89px;
  text-align: center;
  font-size: 30px;
  color: #525252;
}
a.cToABtn {
  display: block;
  background: #3f775b;
  padding: 10px;
  width: 150px;
  margin: auto;
  text-align: center;
  margin-top: 20px;
  color: white;
  border-radius: 3px;
  transition: all.3s;
}
a.cToABtn:hover{
  background: blue;
}


/* part 2  */
h2.contactTitle {
  text-align: center;
  padding: 40px;
  font-size: 30px;
}

.boxWrapper {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.singleBox {
  width: 48%;
}
.singleLc h4 {
  font-size: 20px;
  color: #505050;
  padding: 5px 0;
}

.singleLc {
  margin: 17px 0;
}


.singleLc h4 i {
  color: #3f775b;
}

.singleLc span {
  font-size: 19px;
}
h5.formTitle {
  font-size: 25px;
  text-align: center;
  color: #525252;
  margin-top: 20px;
}

form.smsForm {
  display: block;
  margin-top: 19px;
}

.inputBox input,.inputBox textarea {
  width: 100%;
  padding: 5px;
  font-size: 20px;
  border-radius: 3px;
  outline: none;
  border: 1px solid #525252;
}
.inputBox textarea{
  resize:vertical;
}

.inputBox span {
  display: inline-block;
  font-size: 19px;
  padding: 14px 0;
  font-weight: 600;
  color: #525252;
}

.inputBox {
  margin: 13px 0;
}

.inputBox input[type="submit"] {
  font-size: 25px;
  font-weight: 500;
  border: none;
  background: #b7b7b7;
  transition: all .5s;
}
.inputBox input[type="submit"]:hover {
  background: #9b9898;
}

@media screen and (max-width:920px) {
  .boxWrapper{
      display: block;
  }
  .singleBox{
      width: 100%;
  }
}